[2014-11-13 02:52] dstrockis opened #1 "Role Claims Not Emitted in SAML tokens"
Temporary shortcoming.

[2014-11-13 02:52] dstrockis opened #2 "Role Claims not emitted for Guest Accounts"
Temporary shortcoming.

[2014-12-15 14:50] johnkattenhorn opened #3 "Response status code does not indicate success: 404 (Not Found)."
Hi,

I've been trying to fire up this sample before I commit to using this method in my own project but I'm having some problems making it work.

I just assumed I'd made a typo for the Uri but I've check and re-checked and my URI is definitely configured for:

https://applicita.com/TaskTrackerWebApp

If I but this Url into a browser and sure enough I get what looks like the IIS screen when you try

[2014-12-15 15:58] #3 closed, assigned to nobody

[2015-03-03 17:17] dstrockis opened #5 "Does TokenDbCache store >1 cache entry per user"
Thought I saw this at some point....

[2015-03-03 17:18] dstrockis opened #6 "Show In-App Role Assignment w/Graph"
Would this be helpful? Need to make sure graph permissions behave appropriately.

[2015-03-03 17:19] dstrockis opened #7 "Use Graph Client Library Instead of REST"
Graph client library should be fixed now.

[2015-03-12 11:29] andreydil opened #8 "Role claim with different ClaimType"
This sample expects application roles to be under "http://schemas.microsoft.com/ws/2008/06/identity/claims/role" ClaimType, but Azure Active Directory returns roles under "roles" ClaimType.

![roleclaim](https://cloud.githubusercontent.com/assets/6322131/6616864/f0681a06-c8dc-11e4-873f-5062f5ba4082.png)

[2015-03-12 13:22] #8 closed

[2015-03-19 18:30] dstrockis opened #9 "Does not require "Access Your Organization's Directory""
Need to change, or users will not be able to consent to the app.

[2015-10-01 15:31] cephalin opened #10 "Having trouble running the sample in multitenant mode."
-	VS2013.4: The sample page says that it can be run in any tenant, but when I run the sample locally and log in with xxx@hotmail.com, I get this error:
Additional technical information:
Correlation ID: 0c3e4797-929e-47ed-9fd7-309e3e084e94
Timestamp: 2015-09-30 21:45:28Z
AADSTS50020: User account 'xxx@hotmail.com' from external identity provider 'live.com' is not supported for application 'd43fe016

[2015-10-01 22:52] dstrockis commented on #10
Did you add your hotmail account as a guest user in your tenant?

[2015-10-01 22:54] dstrockis commented on #10
Also by request, I meant the HTTP request that is sent to Azure AD.  You can find it by copy+pasting it out of the URL bar before attempting to sign in, or by capturing a trace in Fiddler or similar

[2015-10-02 17:54] cephalin commented on #10
I'm using the application in its default configuration, trying to use the multitenant mode. The user I used to sign in with is the service administrator of my default AAD tenant, so I don't need to add it as a guest account, right? The instructions don't say anything about adding a guest account.

[2015-10-02 17:58] cephalin commented on #10
The URL at the sign-in page is: https://login.microsoftonline.com/common/oauth2/authorize?client_id=d43fe016-2ce2-4686-ad31-9169be137d72&response_mode=form_post&response_type=code+id_token&scope=openid+profile&state=OpenIdConnect.AuthenticationProperties%3dwpZT0M3Mz3WQWeGrH8rpkAAz2fDFaQVX4kZKqjl26c0SDWZLVa0pVU0pj-lv9oKAdvYMjS3RDM00lokMGVSANPftTEYLY8bJQNjWAixGFkw&nonce=635794053963374959.NjMyYzQ3NW

[2015-10-02 18:01] dstrockis commented on #10
To confirm - which tenant is the application registered in?

[2015-10-02 18:03] cephalin commented on #10
If I use the default settings, I suppose the application is registered in the Microsoft tenant, right?

[2015-10-02 18:55] dstrockis commented on #10
Ohhhhh I totally forgot that this app already has default settings. My fault.  Ok no, the default app is registered in my own tenant actually.  I get it now.

MSA guest account users will not work with multi-tenant apps.  Your MSA user could be a guest in N AAD tenants - and when the sign in request goes to the `/common` endpoint, AAD cannot determine which tenant to sign the user into.  That's wh

[2015-10-02 18:57] dstrockis commented on #10
a38ded23d9122a8b7662bb4e306aff12c6199c6f

[2015-10-02 18:57] dstrockis commented on #10
If you try it and it works, please close the issue.

[2015-10-02 22:45] cephalin commented on #10
It works now. Thanks!

[2015-10-02 22:45] #10 closed

[2015-10-15 17:54] cephalin opened #12 "AuthenticationContext.AcquireTokenSilent() not working"
I tried to use this code from the [GroupClaims sample](https://github.com/Azure-Samples/active-directory-dotnet-webapp-groupclaims/blob/master/WebApp-GroupClaims-DotNet/Utils/GraphHelper.cs):

        public static string AcquireToken(string userObjectId)
        {
            ClientCredential cred = new ClientCredential(ConfigHelper.ClientId, ConfigHelper.AppKey);
            AuthenticationContex

[2015-10-22 09:27] DeanBecker opened #13 "Adding roles to user/group isn't available"
I'm struggling to follow your instruction on creating users/groups and assigning roles when following single-tenant track.
I've added the roles in the app manifest, but don't seem to have any option to assign a role in the Users tab of the application record in the Azure management portal.
Our Azure AD is synced from an on-premise AD so I haven't had to create a user first, if that makes any diffe

[2015-10-27 13:41] DeanBecker commented on #13
Sorry, I've figured out what my issue was:

Only defining one appRole in the app manifest causes the application to not display the role choice when assigning a user. Having two or more roles present enables the role selection

[2015-10-27 13:41] #13 closed

[2015-11-24 17:08] franhoey opened #14 "Roles aren't being picked up"
I feel like I must be missing something important, but I just cant see it

I've followed your instructions for the single tenant but I keep getting "You do not have sufficient priviliges to view this page." when I go to the tasks root. I've set it up twice now in two different azure accounts but still no luck

I've create a new user and assigned them to the Observer role, logged out and back in, b

[2015-11-25 10:42] franhoey commented on #14
This is an issue in the single tenant instructions, only the `ValidateIssuer' line should be deleted in `TokenValidationParameters` not the whole block.

I've created a pull request #15

[2015-11-27 19:38] shaneholder opened #16 "Unable to assign roles"
I'm sure this isn't an issue with the app itself but I am unable to assign roles to users in either of the Azure management portal.  I am using the Azure services with my MSDN subscription.  Is RBAC only available with an enterprise subscription?

[2015-11-28 15:44] shaneholder commented on #16
I think I figured it out.  I had configured an active directory with the B2C directory preview and assigned the example application to that directory.  Also once I navigated that B2C directory the portal thinks applications configured under non B2C directories have the same attributres so they do not the User management tabs until you refresh the browser.

[2015-11-30 19:17] omfarz opened #17 "WebApp_RoleClaims_DotNet.mdf / Catalogue missing from sample"
I have been trying this sample out, but missing the DB. Can you help provide, when you get a chance?

 connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=WebApp_RoleClaims_DotNet;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\WebApp_RoleClaims_DotNet.mdf;" providerName="System.Data.SqlClient"

https://social.msdn.microsoft.com/Forums/en-US/6ac283a9-03bf-48f9-b144-47c47c164b01

[2015-11-30 19:19] dstrockis commented on #17
Thanks.  I believe the .mdf file should be created automatically on first run.  Can you share the error you are getting?

[2015-11-30 19:25] omfarz commented on #17
I am getting several errors. I am hosting the site POC on Azure: https://ggpclaimsaware.azurewebsites.net and get the following.

An error occurred while processing your request.

We're having trouble signing you in.

A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server was not found or was not accessible. Verify that the instance name is

[2015-11-30 19:35] omfarz commented on #17
Even when I run locally I am unable to authenticate via MSFT Corpnet/via smartcard…., what am I doing wrong? How do I enable MSA as an authentication provider here….?

Thanks
Omar Farooque
Software Engineering Manager, Global Games Publishing, Xbox Accelerate Engineering Team

From: Danny Strockis [mailto:notifications@github.com]
Sent: Monday, November 30, 2015 11:19 AM
To: Azure-Samples/active-d

[2016-01-11 16:03] onovotny commented on #2
Ping, has this been resolved; can this issue be closed?

[2016-02-09 14:58] vinceplaza opened #18 "Startup.Auth.cs update to access roles"
In order to access the appRoles when configuring the sample for single tenant, I needed to update a configuration property in Startup.Auth.cs. The property was RoleClaimType under TokenValidationParameters. The value out of the box was "roles". I updated this to "http://schemas.microsoft.com/ws/2008/06/identity/claims/role". It fixed the issue, but I'm checking that this was the correct action to

[2016-02-11 09:39] dotnetdude commented on #16
Hi, I got the same issue. Looks like its a bug on chrome browser. I can see user management tab on all other browsers and not in chrome. As you suggested, the refresh trick worked.

[2016-02-17 22:33] vkurpad opened #19 "Invalid client secret error on Azure App Service"
Works fine locally. I'm able to see the role assignments come through. But Can't get the app to log in a user when deployed to Azure.

Errors out with message:
AADSTS70002: Error validating credentials. AADSTS50012: Invalid client secret is provided. Trace ID: f2dd722f-1017-4d28-92a9-1a243c62f020 Correlation ID: 3b525670-3b61-4f08-9e5b-410312813ac2 Timestamp: 2016-02-15 15:05:20Z

[2016-02-18 16:52] dstrockis commented on #19
Sounds like there's something strange going on with the parsing of your app key.  You'll need to somehow validate that the string being provided to the `AcquireTokenByAuthorizationCode` is in fact your client secret.

But actually now that I take a closer look, I don't think this sample requires you to even acquire a token.  That's a bug on my part.  I think if you just remove the line(s) of code

[2016-02-22 10:58] DaveVdE commented on #18
I think it should be "roles". My role is a claim with this type. `User.IsInRole` only works if that's the `RoleClaimType` in the `ClaimsIdentity` instance.

[2016-02-22 10:59] DaveVdE commented on #18
But then when I set the `RoleClaimType` to `roles` in the `TokenValidationParameters`, that name is ignored and my `ClaimsIdentity` instance contains that default "http://schemas.microsoft.com/ws/2008/06/identity/claims/role" for `RoleClaimType`. I don't get it.

[2016-02-22 11:00] DaveVdE commented on #14
I have the `RoleClaimType` set to `roles` in my `Startup.Auth.cs`, but at the point of testing if the user is in that specific role the `RoleClaimType` on the `ClaimsIdentity` is set to the default. Any idea why?

[2016-02-22 11:07] DaveVdE commented on #18
OK I found it. Perhaps this is useful to others as well: I only added the TokenValidationParameters at a later point (didn't have roles before) and it turns out the request didn't need authentication: there was a cookie that still contained the default name for RoleClaimType. I just had to clear my cookies.

[2016-02-23 17:43] vkurpad commented on #19
Danny thanks for the response. I'm still not any closer to getting it to work. could you post a snippet of the change you're recommending?

[2016-04-14 13:54] nezoic commented on #14
I too am having this same issue, User.IsInRole never sees the Role claim as valid even though it's in the list of claims.

http://stackoverflow.com/questions/36487458/azure-ad-returning-roles-in-claims-but-user-isinrole-returns-false

[2016-04-14 14:08] DaveVdE commented on #14
Yeah it works for me, I don't remember what caused me to place the earlier comment.

[2016-04-14 15:35] DaveVdE commented on #14
Sounds like you have a problem similar to what I was having: indeed we map the correct claims type, but it got overridden somehow on my end.

Problem is, that's some while ago and I can't find anything in source control on how I fixed that.

[2016-07-29 11:02] euhm commented on #14
Hi @DaveVdE, I have the same issue like you had. The RoleClaimType is always reverted to the default.
So the value set in TokenValidationParameters is never picked up.

Maybe you remember now how you fixed at your end?

kind regards

[2016-07-29 13:26] DaveVdE commented on #14
Nope, sorry.

I also switched employer, so I have no longer access to that source code.

[2016-09-11 18:35] pbjorklund commented on #18
I also could not get it to pick up the roles with
[code]

needed

[code]

[2016-09-13 22:34] mcorning commented on #19
Danny, I agree that your suggestions are either not clear enough for us to implement correctly, or they are inadequate to resolve the issue.
Is there a reason that the sample shipping today (Sep 2016) is not debugged?
for the record, I commented out these lines in the web app's startup file:
                Events = new OpenIdConnectEvents
                {
                    //OnRemoteFailure =

[2016-09-16 12:39] gpalsson opened #21 "Can't get roles to work with newer versions of Tokens.JWT"
If I update to anything never than 4.0.2.28 the test application will stop pulling roles from the AD.
I wonder if this is this an issue with JWT, this app or my Azure AD ?

[2016-09-16 15:57] belaie opened #22 "Does appRoles support transitive groups? appRole=>Group1HasMember=>Group2"
Does appRoles support transitive groups? appRole=>Group1HasMember=>Group2

Will members og Group2 would also get the appRole assigned to Group1?

[2016-11-02 18:58] sameer-kumar opened #23 "Manifest error in sample code with single-tenant"
While following your sample code for single-tenant flow path, I get error while updating the manifest with suggested roles. It poops out at line `"origin": "Application",` And if I yank this line from json manifest, it works and able to upload.

Another concern is how can I add groups to roles instead of individual users in azure management portal? When I goto USERS tab of my application, it displ

[2017-01-10 20:59] x3r10n commented on #21
@gpalsson Wow you just saved my life !! I wasted 2 days trying to figure what was wrong between my app and this boilerplate. But a BIG thumb down to Microsoft for not posting back any information on that issue.
Once again Thanks @gpalsson !!

[2017-01-26 15:11] jmprieur commented on #14
This now seems to work correctly (I've proposed PR[#24: Improving the Readme.md file (clarifies confusing points, makes it work with VS>2013, simplifies the end to end) ](https://github.com/Azure-Samples/active-directory-dotnet-webapp-roleclaims/pull/24) to improve the Readme.md and the code in `Startup.Auth.cs`

[2017-01-26 15:13] jmprieur commented on #17
Yes, the mdf should be created automatically. There was a problem with trying to run the sample with Visual Studio 2015 and 2017, which I proposed to resolve (PR #24 )

[2017-01-26 15:13] #17 closed

[2017-01-26 15:22] jmprieur commented on #21
@x3r10n, @gpalsson, thanks for the feedback:
I just tried upgrading the JWT NuGet package from 4.0.2.202250711 (proposed in the sample) to 4.0.3.308261200 and, although I can log-in, I cannot access the Tasks. I get:
*You do not have sufficient priviliges to view this page.*

[2017-01-26 16:13] jmprieur commented on #16
I just tried with chrome Version 56.0.2924.76 (64-bit) on https://manage.windowsazure.com and that seems to work now.

[2017-01-26 16:13] #16 closed

[2017-02-11 09:50] spegase opened #25 "this sample need updates!"
1. The property "origin" don't exist anymore like said in the issue#23
2. The roles are not working since weeks as mentioned in the issue#21
3. The sample here lack clarity and is outdated.

Microsoft seriously how do you think we can keep up with serious products and services when the specifications change all the time and features are removed without warnings.

[2017-02-11 09:54] spegase commented on #21
If anyone knows how to fix this...

[2017-02-15 14:52] jmprieur commented on #23
@sameer-kumar: I've updated the Readme.md file. Please tell me if you are happy for me to close this issue.
As far as adding groups (and not only users) to roles this is a feature of Azure AD premium.

[2017-02-15 14:54] jmprieur commented on #25
Thanks for your feedback @spegase. I've just done a first update to the sample as this will help already (BTW this resolves issue#23)

[2017-02-15 14:55] jmprieur commented on #25
Oh, also I'll look at the root cause for issue#21, which I can repro as well.

[2017-02-15 14:55] #25 closed

[2017-02-15 14:57] jmprieur commented on #19
@mcorning, can you please try with the updated sample? Closing this issue for now as I believed this is fixed. Feel free to reopen if that does not work for you.

[2017-02-15 14:57] #19 closed

[2017-02-15 14:59] jmprieur commented on #1
@dstrockis: do you know if this has been fixed? is working now?

[2017-02-15 14:59] jmprieur commented on #2
Fixed

[2017-02-15 14:59] #2 closed

[2017-02-15 15:00] jmprieur commented on #7
Does not use any REST call any longer

[2017-02-15 15:00] #7 closed

[2017-02-15 15:02] jmprieur commented on #14
Closing the issue as I believe this is now working correctly. Feel free to re-open if you disagree.

[2017-02-15 15:02] #14 closed

[2017-02-15 15:16] sameer-kumar commented on #23
Yes, you can go ahead and close this. Thanks for taking care of this and your answer!

[2017-02-15 15:17] sameer-kumar commented on #23
And I hope faster turn-around times in future :-)

[2017-02-15 15:21] jmprieur commented on #23
@sameer-kumar : I'm trying to improve all the .NET client samples at the moment. Don't hesitate to contact me directly to draw my attention to pressing issues (there are many samples, some with many problems. I'm happy to priorise the work based on needs.

[2017-02-15 15:21] #23 closed

[2017-02-15 18:51] spegase commented on #25
Hi @jmprieur  thanks for the fixes, when will you push them?

[2017-02-15 22:35] jmprieur commented on #25
@spegase: do you mean for issue#21? If yes, I can repro but need to investigate what is going on.

[2017-02-25 16:01] ddobric commented on #19
I'm also getting this error very often. I always thought, it was my failure by copy/paste. However, it happens sometimes by some keys. I never understood when and how. It looks like some encoding issue. I usually in this case generate next key (usually multiple times) until it works.

[2017-02-27 06:03] gsacavdm commented on #22
No, Azure AD in general has very limited support for nested groups. This limitation also applies for appRole assignments.

[2017-02-27 06:03] #22 closed

[2017-03-13 17:27] RehanSaeed commented on #21
I'm using ASP.NET Core and am not getting any roles back in my users claims collection. Are there any workarounds or solutions to this problem?

[2017-03-14 16:51] twcarnahan opened #26 "Directory Object Not Found."
I have logged on as Admin --- I can create tasks, but when I click on "About" I get the Directory Object Not Found; when I click on "Search for Users/Groups:" Error searching directory.
Thank you for your help with this problem.

I can logon as a Non- Admin --- and then get of course denied. So, I do not understand what is wrong. Tim:

[2017-03-16 22:22] gpalsson commented on #21
@jmprieur try listing what roles you are part of once you have logged in. If you have configured your user with some roles, you should be able to see them.

@x3r10n no problem, I'm glad it was helpful.

[2017-03-21 10:14] AmanpreetSingh-GitHub opened #27 "Not able to set Microsoft Graph permissions"
I created a new Azure subscription (free) and under the Default directory registered a new Cloud Service ASP.Net MVC Web Application. I also added a new user to the default domain. When I run the application everything works in the application connected with this Azure AD.
Now when I try to set permissions for Microsoft Graph I see no permissions there. And thats why my User.IsInRole and IsAuthent

[2017-03-21 10:21] aadidgit commented on #27
Is the user an AzureAD administrator (in Azure Active directory, choose a user, and go to "Directory Role")

[2017-03-21 10:56] AmanpreetSingh-GitHub commented on #27
Yes, both the users are Global Administrators.
User 1 (amanpreet.singh@hotmail.com) - this created the free subscription
User 2 (amanpsingh@amanpreetsinghhotmail.onmicrosoft.com) - added by User 1

[2017-03-21 12:51] jmprieur commented on #27
I has a similar problem. I managed to have the "Microsoft Graph" service principal added to my subscription by navigating to the graph explorer (https://developer.microsoft.com/en-us/graph/graph-explorer), signing-in as one of the administrator and accepting the consent to access the graph.
HTH

[2017-03-21 14:27] RehanSaeed commented on #22
Firstly, thank you!

I stumbled on this after 3 hours of trying to understand why my roles were not appearing. I can't believe something so basic has not been implemented. I've raised a suggestion on [UserVoice](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/18678670-support-inheriting-roles-in-nested-groups) to implement this feature. Please upvote it.

[2017-04-13 12:13] paolorr opened #29 "Is it possible to activate '.auth/me' endpoint?"
I activated AAD authentication through the portal (along with FB and Twitter auth), as shown in [this tutorial](https://docs.microsoft.com/en-us/azure/app-service-web/web-sites-dotnet-lob-application-azure-ad),  and there's the option to view the user info at '.auth/me' endpoint, which is automatically created.
Activating AAD authentication in the application, like in this sample, Im not able to r

[2017-05-05 17:45] bcoder0306 commented on #19
Just had this happen. I had generated two client secrets which failed as described above. Then generated a third secret which succeeded. I noticed that the 2 keys that failed both had / and + in the string. The one that worked and only alpha-numeric characters. Perhaps this will provide a clue. It does seem like a bug to me.

[2017-05-09 12:11] ergwun commented on #19
Thanks bcoder0306 - I couldn't get my app to authenticate either. After reading your post I kept generating keys until I had one without + or / and it finally worked!

[2017-06-02 13:36] bkwdesign opened #31 "How should a SPA app (with it's own API) using ADAL.js do RBAC?"
I have a little sample SPA app working. It successfully talks to web api controllers decorated with `[Authorize]` but I don't know what else is needed to successfully make my app have controllers with `[Authorize(Roles="CustomRole1")]`

You can see more details about my specific question [at this S.O. question](https://stackoverflow.com/questions/44328697/my-rbacd-web-api-is-secure-but-the-roles-a

[2017-08-02 15:08] bkwdesign commented on #31
Found my answer at the aforementioned SO question. Pasting here for completeness:

	app.UseWindowsAzureActiveDirectoryBearerAuthentication(
	    new WindowsAzureActiveDirectoryBearerAuthenticationOptions()
	    {
		Tenant = Tenant,
		TokenValidationParameters = new TokenValidationParameters
		{
		    ValidAudience = ValidAudience,
		    RoleClaimType = "roles"
		}
	    });

[2017-08-02 15:09] #31 closed

[2017-09-13 12:04] DivyansMahansaria commented on #19
without + or / worked for me as well. Thanks a ton!

[2017-09-28 10:29] mcsf13m036 commented on #19
Try encoding only your client secret key.

[2017-10-21 19:34] fwwasol commented on #21
I had the same issue and found not claims with type "role" or "roles".
But this worked:

`                    TokenValidationParameters =
                    new System.IdentityModel.Tokens.TokenValidationParameters
                    {
                        ValidateIssuer = false,
                        RoleClaimType = "http://schemas.microsoft.com/ws/2008/06/identity/claims/role",

[2017-12-12 19:55] nothingisnecessary commented on #19
Noticed same problem with the keys - only about 30% of my generated keys worked. One that did work contained / but no +. For the most part the keys that have / and + seem to cause problems, but that may just be coincidence. Tried with various encodings to create the byte array (ASCII, UTF8, Unicode) but still get "invalid client secret is provided" until I use a working key. In Postman, 100% of th

[2017-12-12 20:34] nothingisnecessary commented on #19
mcsf13m036 is correct: you need to encode the key. If key doesn't contain the + character it generally seems to work OK, but 100% of tested keys now work after I properly URI encode the client_secret value. To wit: `Uri.EscapeDataString(clientSecret)`

[2018-03-01 22:20] dotsad commented on #21
@fwwasol it would be nice if you specified where you added this code.

[2018-03-10 04:45] dotsad commented on #18
![image](https://user-images.githubusercontent.com/1864317/37238351-799cb002-23d9-11e8-9f3b-a08ce1e7e3ac.png)

![image](https://user-images.githubusercontent.com/1864317/37238389-27b04d7a-23da-11e8-90a2-4b2935a6332a.png)

Both of the same claims come from using `UseWindowsAzureActiveDirectoryBearerAuthentication` but in first instance, site hosting endpoins for my WebApi project is protected with

[2018-03-13 12:18] vishwajeetrkale opened #34 "can we use (https://github.com/Azure-Samples/active-directory-dotnet-webapp-roleclaims) Azure AD role based authorization for B2C tenant"
can we use  (https://github.com/Azure-Samples/active-directory-dotnet-webapp-roleclaims) Azure AD role based authorization for B2C tenant ?

[2018-05-31 11:47] mqamarmunir opened #35 "Bad Request - Request Too Long"
Sometimes while signing In,the application fails to redirect to my home page and the following page shows up.
![image](https://user-images.githubusercontent.com/4126664/40780501-01048048-64f2-11e8-9a29-19cc7bc44704.png)

Then I am stuck, not able to log out or sign in again. is there any workaround for this?

[2018-06-14 08:48] jmprieur commented on #35
This is probably because you have too many roles?
You might want to have a look at the request with Fiddler to understand why it's too long?

[2018-06-27 10:55] arnaringig commented on #19
As suggested above, try and encode your symbols so for instance + becomes %2B
Worked for me.

[2018-07-05 11:21] mqamarmunir commented on #35
added following line in my global.asax file and it started working
`protected void Session_Start() { }`
I don't  know how, but at least it started working. The solution was mentioned in the following thread.
[#2496](https://github.com/IdentityServer/IdentityServer3/issues/2496)
I would be glad if you could provide some explanation for this behavior

[2018-07-05 17:41] HShalin opened #36 "OWIN Startup is not iniatilizing in Azure App Service"
My RoleClaimType is not getting set to roles when I am running in Azure and so when I put some logging, I found that OWIN is not getting called at all. What am I missing here?

[2018-07-12 00:08] Srinuthalapati opened #37 "TasksController is not working as the Views>Tasks>Index.cshtml has issues. Isn't that name be "Tasks.cshtml"?"
![image](https://user-images.githubusercontent.com/23491817/42605536-485b0240-852d-11e8-85f9-0de78c5ad349.png)
when clicked on 'Tasks' tab, the actual functionality to test RBAC should appear. But the below error is shown:
![image](https://user-images.githubusercontent.com/23491817/42605488-01e25d7c-852d-11e8-9bdc-9139aadff5c8.png)

[2018-07-17 12:35] jmprieur commented on #35
@brentschmaltz : do you understand why adding an override of Session_Start() avoids the Request too long?

[2018-07-20 16:30] Srinuthalapati commented on #37
Can I expect a solution or a suggestion regarding this issue?

[2018-08-16 11:49] postb99 commented on #18
In my case, clearing the cookie greatly helped! So it's really worth pointing out, after configuration change, clear your cookie!

Unlike the .NET app mentioned here, I work with this .NET Core (2.0) app: https://github.com/Azure-Samples/active-directory-dotnet-webapp-openidconnect-aspnetcore and the following configuration  works: issuer validation is active and RoleClaimType has default value, n

[2018-08-31 18:27] kalyankrishna1 commented on #21
The upgraded solution is in with the latest token validation lib.

<package id="System.IdentityModel.Tokens.Jwt" version="5.2.4" targetFramework="net461" />

[2018-08-31 18:27] #21 closed

[2018-08-31 18:28] kalyankrishna1 commented on #26
Please try this again with the updated sample and reopen this issue if it still exists. Thanks

[2018-08-31 18:28] #26 closed

[2018-08-31 18:37] kalyankrishna1 commented on #27
This sometimes happen due to transient issues. If this issue still persists, please reopen this issue.

[2018-08-31 18:37] #27 closed

[2018-08-31 18:39] kalyankrishna1 commented on #29
@paolorr , please post this as an issue in the EasyAuth sample. The link is https://github.com/stuartleeks/AzureFunctionsEasyAuth. Thanks

[2018-08-31 18:39] #29 closed

[2018-08-31 19:32] paulgarn commented on #1
Yes - they work for SAML tokens

[2018-08-31 20:26] kalyankrishna1 commented on #36
Please try the new sample and re-open this issue if the problem persists

[2018-08-31 20:26] #36 closed

[2018-08-31 20:35] kalyankrishna1 commented on #34
No, Please go through this (https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/31997947-support-application-specific-roles-in-b2c)

[2018-08-31 20:35] #34 closed

[2018-08-31 20:37] kalyankrishna1 commented on #35
The browsers sometime do this and can be resolved by clearing cookies. If it still persists, please re-open this issue.

[2018-08-31 20:37] #35 closed

[2018-08-31 20:38] kalyankrishna1 commented on #37
No , its asp.net route and it works as indicated. Please enable logging in your azure website and check for the error underneath.

[2018-08-31 20:39] kalyankrishna1 commented on #1
Closing

[2018-08-31 20:39] #1 closed

[2018-10-05 11:17] mqamarmunir opened #42 "IDX10311: RequireNonce is 'true' (default) but validationContext.Nonce is null"
Some times after successful login the following error shows up

![image](https://user-images.githubusercontent.com/4126664/46532417-27ae3280-c8ba-11e8-9292-b156800fae26.png)

[2018-10-06 09:28] kalyankrishna1 commented on #42
@mqamarmunir  this issue and its possible solutions have been discussed in quite a bit of detail in the this thread https://stackoverflow.com/questions/39412570/owin-openidconnect-middleware-idx10311-nonce-cannot-be-validated. Please have a look at it.

[2018-10-08 13:32] mqamarmunir commented on #42
@kalyankrishna1
Thanks for the reply
Switching to the previous version help me get out of it. But that is not the permanent fix. What do you say?

[2018-10-08 20:10] kalyankrishna1 commented on #42
cross posted to the correct repository

[2018-10-08 20:10] #42 closed

[2018-10-23 14:36] jmprieur commented on #37
This sample was recently updated. I've just tested it again and it works. Closing this issue. Feel free to reopen .

[2018-10-23 14:36] #37 closed

[2018-10-23 14:36] #6 closed

[2018-11-07 19:02] snpdev opened #43 "Sample for Microsoft.NETCore.App 2.1.0 SDK?"
Does anyone know if there is a fork of this sample application for the Microsoft.NETCore.App 2.1.0 SDK (or other .NET Core version)?

[2019-01-23 13:42] jangaehler commented on #2
The readme says:

Sorry, i'm confussed now. Is this fixed or not?

[2019-01-27 20:39] aai2on opened #44 "Click the "All Applications" tab, and locate the newly created entry for "WebApp-RoleClaims-DotNet""
After creating TaskTrackerWebApp-RoleClaims and doing the following steps, I went into Enterprise applications and select All Applications and I do not see WebApp-RoleClaims-DotNet,  I find the name with TaskTracker in the front.  Is this what you meant? Or was there a step for creating another application for WebApop-RoleClaims-DotNet that I missed.  I looked but don't see it.

[2019-01-28 07:30] jmprieur commented on #44
you should not go to Enterprise applications, but to **Azure Active Directory** and the **App registrations**

[2019-04-03 21:46] hauszerm opened #47 "AntiForgeryToken causes Exception"
I want to use AntiForgeryToken and added the Attribute [ValidateAntiForeryToken] in the TaskController

        [HttpPost]

        [Authorize(Roles = "Admin, Writer, Approver")]

        [ValidateAntiForgeryToken]

        public ActionResult TaskSubmit(FormCollection formCollection)

        {
        .....

and the @Html.AntiForgeryToken() in the View

     using (Html.BeginForm("TaskSubmit", "

[2019-04-04 13:37] jmprieur commented on #47
@hauszerm : you might want to check https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims ?

[2019-04-12 06:03] kalyankrishna1 commented on #47
@hauszerm , did adding the optional emailaddress claim solve your issue?

[2019-04-14 20:17] tiny-dancer opened #48 "Question: How to add Fine Grain permissions to this example?"
We are investigating Azure AD for our usage and love your example! Have a question on how to take this example from course level permissions to fine grain:

**Writer**: Has the ability to create tasks.
**Approver**: Has the ability to change the status of tasks.
**Observer**: Only has the ability to view tasks and their statuses.

Right now this example consists of Course Grain permissions, ie. if

[2019-04-14 22:13] tiny-dancer opened #49 "Question: How to perform permission-based authorization with Roles?"
A fundamental approach in programming authorization logic in applications for long term stability and reliability is to focus on `permissions` and not `roles` or `groups` within the code itself.

The reasoning for this is portrayed excellently by this [SO post](https://softwareengineering.stackexchange.com/questions/299729/role-vs-permission-based-access-control), displayed here readability:

The

[2019-04-16 00:48] tiny-dancer commented on #49
The [Admin Role Permissions](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles#role-permissions) page  appears to be outlined in this fashion. For example, a user performing the action (permission) of `microsoft.aad.directory/applications/audience/update` would be granted access having either of the `Application Administrator` or `Cloud Applica

[2019-04-16 07:52] kalyankrishna1 commented on #49
@tiny-dancer , the page you have provided is used by the Azure Service Management to implement Azure RBAC. Azure AD provides options to provide permissions using Scopes, that travel in the 'scp' claim. Currently we have an open ask to allow users to provide deeper permissions , like one or more security groups instead of "Groups.Read.All" or name of the actual Sharepoint sites over "Sites.ReadWrit

[2019-04-16 07:52] #49 closed

[2019-04-16 08:23] jmprieur commented on #49
If are building your own API, @tiny-dancer : I suggest you have a look at this sample:https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore (it explains how to define scopes)

[2019-04-17 17:37] tiny-dancer commented on #49
@jmprieur @kalyankrishna1 thank you for your responses and thanks in advance for helping clarify Azure AD's current capabilities.

This is indeed related to using Azure AD for authorization of our own APIs.
 Based on your responses, **Azure AD does not support permission-based authorization** and uses Scopes (application) and Roles (users) for authorization.

Extending the example provided, https:

[2019-04-23 16:46] tiny-dancer commented on #48
Based on response in other post (https://github.com/Azure-Samples/active-directory-dotnet-webapp-roleclaims/issues/49), doing fine grain permissions is not possible in Azure AD?

- **Fine Grain Permissions**: each data item is given its own access control policy.

[2019-05-09 11:30] kbula1 opened #51 "Question: How to use graphapi in this case ?"
Nice example, but I have a question. You wrote that assignment of users through Microsoft Graph API. I have searched Graph API URLs or examples for a whole day and I did not find an example. My goal is to search all users from my application and then change roles by Graph API. I will be very grateful If you could help me eg. paste URLs from GRAP API or write where I should search.

Thanks!

[2019-05-09 16:43] TiagoBrenck commented on #51
Hello,

The URL to get all the users would be: `https://graph.microsoft.com/v1.0/users`
To request is, you will have to send a bearer token on the HTTP Header, with the scope "user.readbasic.all".
For the role scenario, you might be looking in two operations: Add new member to a role, and delete a member from a role.

Check the URLs here: https://docs.microsoft.com/en-us/graph/api/resources/direct

[2019-05-09 20:57] kalyankrishna1 commented on #51
Or if its assignment to approles, you might be needing the following Api
https://docs.microsoft.com/en-us/graph/api/approleassignment-update?view=graph-rest-beta&tabs=cs

[2019-05-10 08:08] kbula1 commented on #51
Thanks for the answer ! @kalyankrishna1  I used API from the link but it has not worked for me. I have BadRequest (Write requests are only supported on contained entities).
Only GET action is working, But PATCH and DELETE not (example below). I know that is beta still...
Have you any idea?

### Working
GET https://graph.microsoft.com/beta/servicePrincipals/{{objectId}}/appRoleAssignments
content-t

[2019-05-10 08:22] kalyankrishna1 commented on #51
A little short on time to look into this in detail. My advice is to try the PowerShell commands in [this ](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/5-WebApp-AuthZ/5-1-Roles/README.md) sample and capture the calls in Fiddler. (enable https capture).

The PowerShell commands call Graph behind the scenes, and in the capture you can see the synta

[2019-05-10 08:22] kalyankrishna1 commented on #48
Its on the roadmap, but not available yet. Not ETAs to share either .

[2019-05-10 08:24] kalyankrishna1 commented on #43
This sample just adds a tiny bit of code in the standard asp.net core project generated by VS.NET. You can create a new project, use a diff tool to find the code changes and copy it in your own project

[2019-05-10 08:25] kalyankrishna1 commented on #47
Closing this as we have not received any response

[2019-05-10 08:25] #47 closed

[2019-06-06 21:06] aamirrideo opened #52 "Authorize attribute not working"
I created this sample in my local and its authenticating fine, however when i deploy it to the Azure, although i am getting the claims, the Authorize attribute seems to not work and redirects me to the Authorization error page. I used the code to list the claims and i have them in the token.

P.S. The Active directory Authentication is enabled in Azure.

![Capture](https://user-images.githubuserco

[2019-06-07 11:28] jmprieur commented on #52
@aamirrideo : I would suggest you disable the App Service Authentication (code name Easy Auth). Your Web App already does the right thing, you don't need to add an additional layer of authentication.

cc: @kalyankrishna1 and  @SaeedAkhter-MSFT to comment out.

[2019-07-04 20:40] vivekrathi8993 commented on #19
keys without '+'s works <3 thanks

[2019-07-05 07:37] #52 closed, assigned to nobody

[2019-07-05 07:37] #51 closed

[2019-07-15 13:42] jmprieur commented on #44
@kalyankrishna1

[2019-08-22 11:08] abazanov opened #53 "No roles claim in the token"
Hi Guys,

I have followed the video on YouTube. I have followed blogs. And still no roles claim in my token. I do not know what I am missing. is this still supported?

I have:
1) Edited the Manifest file
[code]
2) Add a user to that role for the application.
![image](https://user-images.githubusercontent.com/5940942/63509971-597db700-c4d5-11e9-91d4-32c159221257.png)

3) I am running the SignUpSign

[2019-08-22 15:57] abazanov commented on #53
I was trying this on a B2C tenant. I understand that on a B2C this will not really work. Application Roles is mainly for standard Azure Active Directory. 😞  Closing it.

[2019-08-22 15:57] #53 closed, assigned to nobody

[2019-10-27 13:21] bgarcial commented on #19
Hi everyone.
I got the same error, here
[code]
I tried to regenerate my service principal secret, but nothing change.
How can I encode the symbols in the secret sting, such as @mcsf13m036, @nothingisnecessary  and @arnaringig  suggest?

[2019-10-28 08:22] jmprieur commented on #43
Please have a look at https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/5-WebApp-AuthZ/5-1-Roles, which ise ASP.NET Core 2.2 for the moment.

[2019-10-28 08:22] #43 closed

[2019-10-28 08:22] #44 closed

[2019-10-28 08:23] #48 closed

[2019-10-30 01:48] kalyankrishna1 commented on #19
Use

[Uri.EscapeDataString(clientSecret)](https://docs.microsoft.com/en-us/dotnet/api/system.uri.escapedatastring?view=netframework-4.8)
[Uri.UnEscapeDataString(clientSecret)](https://docs.microsoft.com/en-us/dotnet/api/system.uri.unescapedatastring?view=netframework-4.8)

[2019-11-20 11:36] maurert commented on #49
I have exactly the same question. I would like to implement permission based authorization in my Applications and API's and be able to assign these permissions to roles that can be created dynamically.

Looks like competitors have had these features for some time. For example:
https://auth0.com/docs/authorization/concepts/rbac
https://auth0.com/docs/dashboard/guides/users/assign-permissions-users

[2019-11-20 13:08] bajaj689 commented on #19
I have setup a python web application which authenticates and authorizes through Azure AD. My client secret has special characters like = equals, ? question mark,  - dash , _ underscore. There is no + sign or / sign.   I get the error :
_invalid_client AADSTS7000222: The provided client secret keys are expired.  And sometimes I get the error as invalid client secret key. here is what I tried alrea